version: "3.3"

services:

  sandbox-python38-{{ env }}:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    container_name: sandbox-python38-{{ env }}
    image: sandbox-python38-{{ env }}
    volumes:
      - ../src:/app/src:ro
    ports:
      - "{{ python38_public_port|default(9001) }}:9001"
    restart: on-failure
    environment:
      GUNICORN_WORKERS: {{ python38_gunicorn_workers|default(1) }}
      CORS_DOMAINS: {{ python38_cors_domains }}